<!DOCTYPE html>
<html>
    <head>
        <title>Blog | Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
    </head>
<body>
{{>header}}

<h2>Login</h2>

<form>
<div class="row">
<div class="col-md-12">
<div class="form-group">
    <input type="email" placeholder="Email" class="form-control" name="email">
</div>
</div>
<div class="col-md-12">
<input type="password" placeholder="Password" class="form-control" name="password">
</div>
<div class="text-center">
<input type="submit" id="submit" class="btn btn-primary" value="Login">
</div>
</div>


</form>

 {{>footer}}
</body>
</html>