<div class="page-header">
    <h1>Blog Feeds</h1>
</div>
<div class="how-hide-message">
    <div [ngClass]="MessageCalss">
        {{message}}
    </div>
</div>
<div class="button mb-2">
    <button class="btn btn-primary mr-1" (click)='onCreate()'><i class="fa fa-plus"></i> Create Blog</button>
    <button [disabled]="loadingBlog" *ngIf="!newPost" class="btn btn-secondary" (click)='onReload()'><i class="fa fa-undo"></i> Reload</button>
</div>
<form [formGroup]="form" (submit)='onBlogSubmit()' *ngIf="newPost">
    <div class="form-group">
        <label for="exampleInputEmail1">Blog Title</label>
        <input type="text" formControlName="title" class="form-control" name="title" id="title" aria-describedby="emailHelp" placeholder="Enter Title">
        <ul class="help-block">
            <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">This feild is required</li>
            <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.minlength">Title should be atleast 5 characters</li>
            <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.maxlength">Title cannot be morethank 500 characters</li>
        </ul>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Body</label>
        <textarea formControlName="body" rows="8" cols="30" class="form-control" name="body" placeholder="Enter blog body">
</textarea>

        <ul class="help-block">
            <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">This feild is required</li>
        </ul>
    </div>
    <button [disabled]="form.invalid || processing" type="submit" class="btn btn-primary  mr-1">Submit</button>
    <button type="button" (click)='onCancel()' class="btn btn-warning">GoBack</button>
</form>

<div *ngIf="!newPost">


    <div class="comeBack_up" *ngIf="(blogPosts | json) == '[]'">
        <strong>No blogs post found please create new one</strong>
    </div>

    <div class="card mb-2" *ngFor="let blog of blogPosts">
        <div class="card-body">
            <h5 class="card-title">{{blog.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Posted By: {{blog.createdBy}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Date: {{blog.createdAt | date:'MMM dd,yyyy'}}</h6>
            <p class="card-text">{{blog.body}}</p>

            <button class="btn btn-success mr-1" (click)='likePost(blog._id)'><i class="fa fa-thumbs-up"></i> Likes: {{blog.likes}}</button>
            <button class="btn btn-danger" (click)='dislikePost(blog._id)'><i class="fa fa-thumbs-down"></i> Dislikes: {{blog.dislikes}}</button>

            <div class="card-fotter mt-2">
                <a href="javascript:;" [routerLink]="['/edit-blog', blog._id]" class="card-link">Edit</a>
                <a href="javascript:;" (click)='onDelete(blog.title,blog._id)' class="card-link">Delete</a>
            </div>

        </div>
    </div>
</div>