<div class="page-header">
    <h1>Register</h1>
</div>

<form [formGroup]="formRegister" (submit)='onRegisterSubmit()'>

    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" formControlName="username" id="username" name="username" placeholder="Enter Name">
        <ul class="help-block">
            <li *ngIf="formRegister.controls.username.dirty && formRegister.controls.username.errors?.required">This feild is required</li>
        </ul>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" formControlName="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" formControlName="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" name="agree" formControlName="agree" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">I agree with terms and conditions</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<p>Username:{{ formRegister.controls.username.value }}</p>
<p>Email: {{ formRegister.controls.email.value }}</p>
<p>Password: {{ formRegister.controls.password.value }}</p>